@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Teko&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 0px 0px;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

details {
  text-align: center;
}

a:hover{
  color: #d30;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: scale-down;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}


.game-container {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  text-align: center;
}

.lcheckboxs {
  float: left;
  align-self: flex-start;
}

.lcheckboxs input[type=checkbox]{
  margin-bottom: 20px;
}

.rcheckboxs {
  float: right;
  align-self: flex-end;
}

#volume {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  /*margin-bottom: 20px;*/
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
}
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 35px;
  width: 35px;
  background: transparent;
  background-image: url("./assets/themoon.png");
  background-size: cover;
  border-radius: 50%;
  transition: .2s ease-in-out
}

.root {
  position: relative;
}

.gameMessage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  position: absolute;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(238, 228, 218, 0.7);
}

uibttn {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 32px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-left: 10px;
}

.gameMessage.gameStart {
  display: none;
}

.gameMessage.gameOver {
  display: flex;
}

.gameMessage.gameOver .start {
  display: none;
}

uibttn.restart {
  margin-top: 30px;
  display: none;
}

.scoreResult {
  display: none;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 32px;
}

.gameMessage.gameOver .restart,
.gameMessage.gameOver .scoreResult {
  display: inline-block;
}

.celestialBox {
  margin: 30px 0px;
  position: relative;
}

.slotContainer.cele {
  width: 1000px;
  text-align: center;
  margin-bottom: 40px;
}

#indicate {
  top: 0;
  position: absolute;
}

.slot {
  -webkit-perspective: 800px;
  perspective: 800px;
  justify-content: center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-filter: drop-shadow(0 0 10px #aeaeae);
  filter: drop-shadow(0 0 10px #AEAEAE);
}

.cbg {
  width: 120px;
  height: 120px;
  overflow: visible;
}

.cbg img {
  width: 120px;
  height: 120px;
}

#conjUI {
  width: 260px;
  height: 140px;
  position: absolute;
}

#conjUI img {
  height: 100%;
  width: 100%;
  top: 43%;
  left: 47%;
  opacity: 0.5;
}

.cindi {
  width: 120px;
  height: 120px;
}

.cindi img {
  width: 80px;
  height: 80px;

}

.ERUIBox {
  margin: 0px 40px;
  background-color: #ababab;
  border-radius: 10px;
  display: flex;
  position: relative;
  flex-direction: row;
  text-align: center;
}

.portrait {
  width: 180px;
  height: 180px;
  margin-left: 40px;
  position: relative;
  background-color: #FFFFFF;
  outline: 12px solid #FFFFFF;
  border-radius: 70%;
  overflow: hidden;
}

.portrait img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.status {
  overflow: clip;
  position: relative;
}

.slotContainer.skill {
  text-align: center;
  margin: 10px 25px;
  position: relative;
}

#skillicon {
  top: 0;
  position: relative;
  z-index: 1;
}

#cooltimer {
  top: 0;
  position: absolute;
  opacity: 0.6;
  z-index: 2;
}


#arrow {
  width: 100px;
}

#arrow img {
  width: 80px;
  height: 120px;
}

.s {
  width: 90px;
  height: 90px;
  margin: 10px 10px;
}

.s img {
  width: 90px;
  height: 90px;
  border: 2px solid #f2eed5;
  border-radius: 2px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.scool {
  width: 90px;
  height: 90px;
  margin: 10px 10px;
}

.scool img {
  width: 90px;
  height: 90px;
  border: 2px solid #f2eed5;
  border-radius: 2px;
  position: absolute;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.vibration {
  animation: vibration 0.1s infinite;
  -webkit-animation: vibration 0.1s infinite;
  top: 0;
  left: 0;
}

/*진동 애니메이션*/

@keyframes vibration {
  from {
    transform: rotate(2deg);
  }

  to {
    transform: rotate(-2deg);
  }
}

@-webkit-keyframes vibration {
  from {
    transform: rotate(2deg);
  }

  to {
    transform: rotate(-2deg);
  }
}

.yellowHighlight {
  animation: yellowHighlight 0.5s;
}

/*노랑 하이라이트*/

@keyframes yellowHighlight {
  0% {
    color : #000000;
  }
  10% {
    color : #f7ea00
  }
  100% {
    color : #000000;
  }
}

@-webkit-keyframes yellowHighlight {
  0% {
    color : #000000;
  }
  50% {
    color : #f7ea00
  }
  100% {
    color : #000000;
  }
}

.barsContainer {
  position: relative;
  margin: 0px 35px;
}

.timeBar {
  margin-bottom: 5px;
  height: 20px;
  width: 100%;
  background-color: #9ff792;
}

.timeBar.running {
  animation: timerRun linear;
  -webkit-animation: timerRun linear;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-duration: 3s;

}

.timeText {
  position: absolute;
  top: -5%;
  width: 100%;
  font-size: 20px;
  font-family: 'Teko', sans-serif;
}

/*타이머 애니메이션*/

@keyframes timerRun {
  0% {
    width: 100%;
  }

  100% {
    width: 0px;
  }

  ;
}

@-webkit-keyframes timerRun {
  0% {
    width: 100%;
  }

  100% {
    width: 0px;
  }

  ;
}

.staminaBar {
  height: 15px;
  line-height: 15px;
  width: 100%;
  background-color: aqua;
  font-size: 6px;
}

.bonus {
  margin: 20px 0px;
  height: 90px;
  background-color: #ccc;
}

.bonus button {
  display: none;
  border: 0px;
  background-color: rgba(0,0,0,0);
  z-index: 2;
}

.bonus img {
  height: 60px;
  width: 60px;
  border: 1px;
  position: relative;
  top: 0%;
  left: 0%;
  transform: unset;
}

.point {
  width: 150px;
  height: 40px;
  line-height: 45px;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  font-size: 36px;
  font-family: 'Teko', sans-serif;
}

.point img {
  height: 40px;
  width: 40px;
  position: relative;
  top: 0%;
  left: 0%;
  transform: unset;
}

.scoreText {
  flex: 1;
}

.report {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  font-size: 12px;
}
